	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/03/2019 16:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-variant: normal;
text-transform: none;
line-height: 1;
font-style: normal;
}

.flaticon-left-arrow:before { content: "\f100"; }
.flaticon-left-arrow-1:before { content: "\f101"; }
.flaticon-right-arrow:before { content: "\f102"; }
.flaticon-arrow-point-to-right:before { content: "\f103"; }
.flaticon-search:before { content: "\f104"; }
.flaticon-bell:before { content: "\f105"; }
.flaticon-notification:before { content: "\f106"; }
.flaticon-full-size:before { content: "\f107"; }
.flaticon-center:before { content: "\f108"; }
.flaticon-avatar:before { content: "\f109"; }
.flaticon-logout:before { content: "\f10a"; }
.flaticon-logout-1:before { content: "\f10b"; }
.flaticon-alert:before { content: "\f10c"; }
.flaticon-exclamation:before { content: "\f10d"; }
.flaticon-checkmark:before { content: "\f10e"; }
.flaticon-success:before { content: "\f10f"; }
.flaticon-garbage:before { content: "\f110"; }
.flaticon-garbage-1:before { content: "\f111"; }
.flaticon-menu:before { content: "\f112"; }
.flaticon-menu-1:before { content: "\f113"; }
.flaticon-reload:before { content: "\f114"; }
.flaticon-reload-1:before { content: "\f115"; }
.flaticon-paper-plane:before { content: "\f116"; }
.flaticon-paper-plane-1:before { content: "\f117"; }
.flaticon-time-left:before { content: "\f118"; }
.flaticon-stopwatch:before { content: "\f119"; }
.flaticon-time:before { content: "\f11a"; }
.flaticon-shopping-bag:before { content: "\f11b"; }
.flaticon-order:before { content: "\f11c"; }
.flaticon-wallet:before { content: "\f11d"; }
.flaticon-comment:before { content: "\f11e"; }
.flaticon-comment-1:before { content: "\f11f"; }
.flaticon-tick:before { content: "\f120"; }
.flaticon-edit:before { content: "\f121"; }
.flaticon-edit-2:before { content: "\f122"; }
.flaticon-settings:before { content: "\f123"; }
.flaticon-heart:before { content: "\f124"; }
.flaticon-graphic:before { content: "\f125"; }
.flaticon-shop:before { content: "\f126"; }
.flaticon-avatar-1:before { content: "\f127"; }
.flaticon-list:before { content: "\f128"; }
.flaticon-food:before { content: "\f129"; }
.flaticon-order-1:before { content: "\f12a"; }
.flaticon-dashboard:before { content: "\f12b"; }
.flaticon-delivery:before { content: "\f12c"; }